h1 {
    text-align: center;
    background-color: rgb(179, 234, 76);
    color:  rgb(0, 0, 0);
}

button {
    width: 25%;
    height: 50px;
    background-color: #e0e5ec;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    box-shadow: 6px 6px 12px #b8bec5, 
                -6px -6px 12px #ffffff;
    transition: all 0.2s ease;
    margin-bottom: 10px; 
}

button[id="b0"]{
    width: 75%;
    border-color: #adadad;
    background-color: #eeeeec;
}

div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

input{
    width: 99%;
    height: 50px;
}

button [id="b="]{
    width: 100%;
}
/*Botones con operadores*/
.operadores{
    background-color: rgba(118, 234, 76, 0.568);
}

button[id="bce"], button[id="big"] {
    width: 50%;
}
body{
    background-color: #ffffff;
    font-family: Arial, sans-serif
}